
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

#methd{
    background: rgb(243, 243, 243);
    text-align: center;
    min-height: 29px;
}

h1{
    position: relative;
    top: 21px;
}

header{
    background-color: rgb(59, 122, 194);
    height: 100px;
    font-family: 'Zen Antique', serif;
    font-size: 20px;
    text-align: center;
    color: rgb(29, 29, 29);
}

body{
    background: rgb(243, 243, 243);
}

.numbers{
    background-color: rgb(255, 217, 0);
    color: white;
}

.btn{
    border: none;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    position: relative;
}

.symbols{
    background-color: rgb(30, 26, 255);
    color: white;
}

.btn:hover{
    cursor: pointer;
}

#display{
    position: relative;
    font-size: 50px;
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

#displayDiv{
    margin-bottom: 20px;
    height: 100px;
    background-color: white;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(243, 243, 243);
}
