
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

#methd{
    background: #262525;
    text-align: center;
    min-height: 29px;
    color: #f0f0f0;
}

h1{
    position: relative;
    top: 21px;
}

header{
    background-color: rgb(130, 139, 149);
    height: 100px;
    font-family: 'Zen Antique', serif;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}

body{
    background: #262525;
}

.numbers{
    background-color: rgb(255, 125, 11);
    color: white;
}

.btn{
    border: none;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    position: relative;
    border-radius: 11px;
}

.symbols{
    background-color: rgb(118, 118, 119);
    color: white;
}

.btn:hover{
    cursor: pointer;
}

#display{
    position: relative;
    font-size: 50px;
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

#displayDiv{
    margin: 20px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 14px;
    overflow: auto;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #262525;
    min-height: 100vh;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    height: 69px;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

span{
    margin: 10px;
}